:root {
  /* Colours */

  --background: #001f3f;
  --background-second: rgba(12, 12, 12, 0.6);
  --button: #3498db;
  --hover-button: #1f6da1;
  --text: #ffffff;
  --input: #ffffff;
  --forgot-password: #4043ff;
  --sidebar: #293B4D;
  --icon: #205E8A;
  --first-gradiant-card: #3498DB;
  --second-gradiant-card: #001F3F;
  --second-text: #3685B5;
  --error: #B80C09;

  /* Fonts */

  --font-roboto: "Roboto";
}
